.carousel {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: var(--margin-small);
}

.carousel--thumbnail {
  position: relative;
  width: 50%;
  padding-top: 50%;
  display: inline-block;
  box-sizing: border-box;
  border-left: var(--margin-small) var(--color-bg-1) solid;
  border-right: var(--margin-small-half) var(--color-bg-1) solid;
  border-top: var(--margin-small-half) var(--color-bg-1) solid;
  &:nth-of-type(2n) {
    border-left: var(--margin-small-half) var(--color-bg-1) solid;
    border-right: var(--margin-small) var(--color-bg-1) solid;
  }
  &:nth-child(-n + 2) {
    border-top: var(--margin-small) var(--color-bg-1) solid;
  }
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bgOverlay {
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  position: absolute;
  border-radius: var(--margin);
}

.bg {
  width: 100%;
  height: 100%;
  border-radius: var(--margin);
  position: absolute;
}

.cont {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.title {
  width: auto;
  display: inline-block;
  padding: var(--margin-carousel);
  font-size: 32px;
  font-weight: bold;
  color: var(--color-textCarousel-1);
  &:hover {
    cursor: pointer;
  }
}

.tagCont {
  width: auto;
  padding: var(--margin-carousel);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--color-textCarousel-1);
}

.mainTag {
  font-size: 24px;
  &:hover {
    cursor: pointer;
  }
}

.subTagCont {
  display: flex;
  font-size: 12px;
}

.subTag {
  margin-right: 4px;
  &:hover {
    cursor: pointer;
  }
}
