.post {
  width: 338px;
  height: 338px;
}

.post__bg {
  width: 338px;
  border-radius: 16px;
  position: absolute;
  z-index: -1;
}

.post__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__title {
  width: auto;
  padding: 16px;
}

.post__tagCont {
  width: auto;
  padding: 16px;
}
